body{
    grid-template-columns: 100px  auto 100px;
    grid-template-rows: repeat(6, 100px [row-start]) auto;
    font-family: Righteous, Arial, Helvetica, sans-serif;
    justify-content: center;
}
h1 {
    color:darkslategrey;
    font-size: 50px;
    text-align: center;

}
.start{
    position: relative;
    left: 130px;
    top: 400px;
}

p{
    text-align: center;
    top: 400px;
    font-size: 30px;
    color: darkslategrey;
    z-index: +1;
}

.start{
    position:absolute;
}
#kennel1 {
    background-color: burlywood;
    height: 100px;
    width: 920px;
    position: center;
    border: 3px solid black;
    z-index: -1;
    position:relative;
}
#window1{
    color:black;
    position: relative;
    left: 250px;
    top: 300px;
    font-size: medium;
    background: lightblue;
    height: 30px;
    width: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#window2{
    color:black;
    position: relative;
    left: 250px;
    top: 300px;
    font-size: medium;
    background: lightblue;
    height: 30px;
    width: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#window3{
    color:black;
    position: relative;
    left: 250px;
    top: 300px;
    font-size: medium;
    background: lightblue;
    height: 30px;
    width: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#window4{
    color:black;
    position: relative;
    left: 250px;
    top: 300px;
    font-size: medium;
    background: lightblue;
    height: 30px;
    width: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#door1{
    position:relative;
    background:black;
    height: 80px;
    width: 200px;
    border-radius: 70px 70px 0px 0px;
    left: 30px;
    top: -100px;
    
}
#door2{
    position:relative;
    background:black;
    height: 80px;
    width: 200px;
    border-radius: 70px 70px 0px 0px;
    left: 250px;
    top: -180px;
    
}
#door3{
    position:relative;
    background:black;
    height: 80px;
    width: 200px;
    border-radius: 70px 70px 0px 0px;
    left: 470px;
    top: -260px;
    
}
#door4{
    position:relative;
    background:black;
    height: 80px;
    width: 200px;
    border-radius: 70px 70px 0px 0px;
    left: 690px;
    top: -340px;
    
}
#treat1{
    position:relative;
    width: 100px;
    height: 30px;
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    color: white;
    left: 80px;
    top: -390px;
    background:transparent;
    border:transparent;

}
#treat2{
    position:relative;
    width: 100px;
    height: 30px;
    
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    color: white;
    left: 200px;
    top: -390px;
    background:transparent;
    border:transparent;

}
#treat3{
    position:relative;
    width: 100px;
    height: 30px;
    
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    color: white;
    left: 310px;
    top: -390px;
    background:transparent;
    border:transparent;
}
#treat4{
    position:relative;
    width: 100px;
    height: 30px;
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    color: white;
    left: 430px;
    top: -390px;
    background:transparent;
    border:transparent;
}

#kennel2 {
    background-color: burlywood;
    height: 100px;
    width: 920px;
    position: center;
    border: 3px solid black;
    z-index: -1;
    position:relative;
    top: -130px;
}
#window5{
    color:black;
    position: relative;
    left: 250px;
    top: 300px;
    font-size: medium;
    background: lightblue;
    height: 30px;
    width: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#window6{
    color:black;
    position: relative;
    left: 250px;
    top: 300px;
    font-size: medium;
    background: lightblue;
    height: 30px;
    width: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#window7{
    color:black;
    position: relative;
    left: 250px;
    top: 300px;
    font-size: medium;
    background: lightblue;
    height: 30px;
    width: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#window8{
    color:black;
    position: relative;
    left: 250px;
    top: 300px;
    font-size: medium;
    background: lightblue;
    height: 30px;
    width: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    
}
#treat5{
    position:relative;
    width: 100px;
    height: 30px;
    background:brown;
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    color: white;
    left: 80px;
    top: -700px;
}
#treat6{
    position:relative;
    width: 100px;
    height: 30px;
    background:brown;
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    color: white;
    left: 200px;
    top: -700px;

}
#treat7{
    position:relative;
    width: 100px;
    height: 30px;
    background:brown;
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    color: white;
    left: 310px;
    top: -700px;
}
#treat8{
    position:relative;
    width: 100px;
    height: 30px;
    background:brown;
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    color: white;
    left: 430px;
    top: -700px;
}
 #kennel3 {
    background-color: burlywood;
    height: 100px;
    width: 920px;
    position: center;
    border: 3px solid black;
    z-index: -1;
    position:relative;
}
#window9{
    color:black;
    position: relative;
    left: 250px;
    top: 300px;
    font-size: medium;
    background: lightblue;
    height: 30px;
    width: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#window10{
    color:black;
    position: relative;
    left: 250px;
    top: 300px;
    font-size: medium;
    background: lightblue;
    height: 30px;
    width: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#window11{
    color:black;
    position: relative;
    left: 250px;
    top: 300px;
    font-size: medium;
    background: lightblue;
    height: 30px;
    width: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#window12{
    color:black;
    position: relative;
    left: 250px;
    top: 300px;
    font-size: medium;
    background: lightblue;
    height: 30px;
    width: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
 
}
#treat9{
    position:relative;
    width: 100px;
    height: 30px;
    background:brown;
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    color: white;
    left: 80px;
    top: -370px;
}
#treat10{
    position:relative;
    width: 100px;
    height: 30px;
    background:brown;
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    color: white;
    left: 740px;
    top: -400px;

}
#treat11{
    position:relative;
    width: 100px;
    height: 30px;
    background:brown;
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    color: white;
    left: 520px;
    top: -430px;
}
#treat12{
    position:relative;
    width: 100px;
    height: 30px;
    background:brown;
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    color: white;
    left: 300px;
    top: -700px;
} 
#kennel3 {
    background-color: burlywood;
    height: 100px;
    width: 920px;
    position: center;
    border: 3px solid black;
    z-index: -1;
    position:relative;
}
#window13{
    color:black;
    position: relative;
    left: 250px;
    top: 300px;
    font-size: medium;
    background: lightblue;
    height: 30px;
    width: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#window14{
    color:black;
    position: relative;
    left: 250px;
    top: 300px;
    font-size: medium;
    background: lightblue;
    height: 30px;
    width: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#window15{
    color:black;
    position: relative;
    left: 250px;
    top: 300px;
    font-size: medium;
    background: lightblue;
    height: 30px;
    width: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#window16{
    color:black;
    position: relative;
    left: 250px;
    top: 300px;
    font-size: medium;
    background: lightblue;
    height: 30px;
    width: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#treat13{
    position:relative;
    width: 100px;
    height: 30px;
    background:brown;
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    color: white;
    left: 80px;
    top: -370px;
}
#treat14{
    position:relative;
    width: 100px;
    height: 30px;
    background:brown;
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    color: white;
    left: 740px;
    top: -400px;

}
#treat15{
    position:relative;
    width: 100px;
    height: 30px;
    background:brown;
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    color: white;
    left: 520px;
    top: -430px;
}
#treat16{
    position:relative;
    width: 100px;
    height: 30px;
    background:brown;
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    color: white;
    left: 300px;
    top: -700px;
}
#kennel4 {
    background-color: burlywood;
    height: 100px;
    width: 920px;
    position: center;
    border: 3px solid black;
    z-index: -1;
    position:relative;
}
#window17{
    color:black;
    position: relative;
    left: 250px;
    top: 300px;
    font-size: medium;
    background: lightblue;
    height: 30px;
    width: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#window18{
    color:black;
    position: relative;
    left: 250px;
    top: 300px;
    font-size: medium;
    background: lightblue;
    height: 30px;
    width: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#window19{
    color:black;
    position: relative;
    left: 250px;
    top: 300px;
    font-size: medium;
    background: lightblue;
    height: 30px;
    width: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#window20{
    color:black;
    position: relative;
    left: 250px;
    top: 300px;
    font-size: medium;
    background: lightblue;
    height: 30px;
    width: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#treat17{
    position:relative;
    width: 100px;
    height: 30px;
    background:brown;
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    color: white;
    left: 80px;
    top: -370px;
}
#treat18{
    position:relative;
    width: 100px;
    height: 30px;
    background:brown;
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    color: white;
    left: 740px;
    top: -400px;

}
#treat19{
    position:relative;
    width: 100px;
    height: 30px;
    background:brown;
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    color: white;
    left: 520px;
    top: -430px;
}
#treat20{
    position:relative;
    width: 100px;
    height: 30px;
    background:brown;
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    color: white;
    left: 300px;
    top: -700px;
} 


